/* ////////////////// Code CSS cho Slidebar và Button ////////////////// */

    /* Slide bar chính (Khung chứa menu) */
    #slidebar {
        position: absolute;
        left: 5px; 
        top: 11px;
        width: 198px; 
        height: 900px;
        background-color: rgb(225, 49, 49); /* Màu xanh đậm */
    }

    /* Nút Màn hình chính (Màu hồng) */
    #btt_Screen_Main {
        border: none;
        background-color: rgb(233, 15, 149);
        color: rgb(255, 255, 255); /* Chữ trắng */
        text-align: center;
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        cursor: pointer;
        position: absolute;
        width: 150px; 
        height: 40px;
        left: 22px; 
        top: 20px;
    }

    /* Nút Màn hình 1 (Màu vàng) */
    #btt_Screen_1 {
        border: none;
        background-color: rgb(240, 236, 11);
        color: rgb(0, 0, 0); /* Chữ đen cho dễ đọc trên nền vàng */
        text-align: center;
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        cursor: pointer;
        position: absolute;
        width: 150px; 
        height: 40px;
        left: 22px; 
        top: 70px; /* Cách nút trên 50px */
    }

    